# History files and Pycharm settings
.Rhistory
.idea

# Example code in package build process
*-Ex.R

# Ignore object/shared object files:
*.o
*.so
*.pyc

build/

#Data/Results folder will not fit.
Data/
